name: Formatter

on:
  pull_request: {}

jobs:
  formatting:
    # This job requires the Wall Brew Bot Token, so it is only run on non-forked repositories
    if: github.repository_owner == 'Wall-Brew-Co'
    runs-on: ubuntu-latest

    steps:
      - name: git checkout
        uses: actions/checkout@v5.0.0
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.WALL_BREW_BOT_PAT }}

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'

      # Table of Contents Tool: https://github.com/thlorenz/doctoc
      - name: Install Doctoc
        run: npm install -g doctoc

      - name: Update Markdown Files
        run: doctoc sources/community/CODE_OF_CONDUCT.md README.md CHANGELOG.md sources/templates/CONTRIBUTING.md --github

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v6.0.1
        with:
          commit_message: |
            [Format] Auto-formatting
