name: Label Pull Requests

on: [pull_request]

jobs:
  label:

    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true

    # This job requires the Wall Brew Bot Token, so it is only run on non-forked repositories
    if: github.repository_owner == 'Wall-Brew-Co'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/labeler@v6
      with:
        repo-token: "${{ secrets.WALL_BREW_BOT_PAT }}"
